.about-heading {
	margin-top: 333px;
}

.rightside-nav span:nth-child(4) a {
	opacity: 1;
}

.ux-process-box {
	/* margin-bottom:  */
}

.rightside-nav span:nth-child(4) a {
	border-bottom: solid 2px #2a1a87;
}

@media (max-width: 599px) {
	.about-heading {
		margin-top: 0;
	}
}
