.about-heading {
	margin-top: 333px;
}

.rightside-nav span:nth-child(4) a {
	opacity: 1;
}

.rightside-nav span:nth-child(4) a {
	border-bottom: solid 2px #2a1a87;
}

.resume-btn {
	background-color: #262626;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	height: 48px;
	line-height: 48px;
	text-align: center;
}

@media (max-width: 599px) {
	.about-heading {
		margin-top: 0;
	}
}
