.main-title-whitespace {
	/*height: 269px;*/
	height: 331px;
	width: 100%;
}
.container-bottom {
	height:  130px;  /*this is just a guestimate for now*/
	width: 100%;
}

/*.left-column > div:nth-child(2) { 
	margin-top: 39px;
}*/


/*TOP ANIMATION ICONS 3 COLUMNS*/
.animation-img-icon {
	padding: 0;
	margin-right: 15px;
	margin-bottom: 39px;
}

.left-column {
	margin-right: 40px;
}

.middle-column {
	margin-left: 40px;
	margin-right: 40px;
}

.right-column {
	margin-left: 40px;
}

.categories {
	margin-bottom: 39px;
}




/*LOWER ROW WITH ANIMATION GIFS*/
.img-box {
	height: 300px;
	width: 300px;
	overflow: hidden;
	margin: 0;
}
/*.animation-left-column {
	margin-right: 15px;
}
.animation-middle-column {
	margin-left: 15px;
	margin-right: 15px;
}
.animation-right-column {
	margin-left: 15px;
}*/

/*LEFT GIF COLUMN*/
.img-box:first-child {
	margin: 0;
	background-image: url(./../assets/animation/tigerman-flame.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}
.animation-left-column div:nth-child(6) {
	background-image: url(./../assets/animation/onboarding-hand-swipe.gif);
	/*background-size: 500px;*/
	background-position: center;
	background-repeat: no-repeat;
}

.animation-left-column div:nth-child(11) {
	background-image: url(./../assets/animation/loading1.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}


/*MIDDLE GIF COLUMN*/
.animation-middle-column div:first-child {
	background-image: url(./../assets/animation/tigerman-music.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}

.animation-middle-column div:nth-child(6) {
	background-image: url(./../assets/animation/spaceman-floating-empty.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}

.animation-middle-column div:nth-child(11) {
	background-image: url(./../assets/animation/loading2.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}


/*RIGHT GIF COLUMN*/
.animation-right-column div:first-child {
	background-image: url(./../assets/animation/tigerman-yea.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}

.animation-right-column div:nth-child(6) {
	background-image: url(./../assets/animation/spaceman-bill-pay.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}

.animation-right-column div:nth-child(11) {
	background-image: url(./../assets/animation/confirmation.gif);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}



.project-footer-divider {
	height: 252px;
	width: 100%;
}


.project-foot-description {
	height: 258px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.next-footer {
	/*align-self: flex-start;*/
	/*float: left;*/
	vertical-align: top;
}
