
.main-container-bottom-spacer {
	height: 127px;
}

.awk-imgs div:first-child {
	padding-right: 15px;
}
.awk-imgs div:nth-child(2) {
	padding-left: 15px;
}

.penguin-icon {
	height: 35px;
}

@media (max-width: 599px) {
	.penguin-icon {
		height: 45px;
	}
	.awk-imgs div:first-child {
		padding-right: 4.5px;
	}
	.awk-imgs div:nth-child(2) {
		padding-left: 4.5px;
	}
}

