.main-title-empty-space {
	margin-top: 332px;
  width: 100%;
}

.left-side-project {
  padding-right: 15px;
}

.right-side-project {
  padding-left: 15px;
}

.new-title-container {
  height: auto !important;
  margin-bottom: 157px;
}

@media (max-width: 599px) {
  .main-title-empty-space {
    margin-top: 0;
  }
  .new-title-container {
    margin-bottom: 64px;
  }
}