.vertical-center {
  height: 135px;
  line-height: 135px;
}

.tools {
  margin-bottom: 40px;
}

.tools > img,
.tools > span {
  vertical-align: middle;
}

.freelance-img {
  height: 22.2px;
  vertical-align: middle;
  width: 32px;
}

.flushing-empty-space {
  height: 331px;
  width: 100%; 
}

.category-top {
  height: 89px;
}


.flushing-app-mock-container {
  text-align: center;
}

.description-box {
  height: 64px;
  line-height: 64px;
}

.problem-box {
  height: 152px;
}

.problem-box-top {
  height: 88px;
}

.problem-description {
  height: 224px;
  margin: 0 auto;
  width: 62.5%;
  width: 900px;
}

.research-box-top {
  height: 88px;
}

.research-box-bottom {
  height: 24px;
}

.new-block {
  clear: both;
}

.left {
  padding-right: 15px;
}

.right {
  padding-left: 15px;
}

.memory-description, 
.place-description {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 1.78;
  opacity: 0.85;
  text-align: left;
  width: 74.4%;
}

.scenario-description {
  text-align: center;
  height: 64px;
  line-height: 64px;
}

.tasks-findings-right {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    height: 100%;
}

.future-step-description {
  height: 64px;
  line-height: 64px;
}

.future-step-long-description {
  margin: 0 auto;
  width: 83.3333%;
}

.bottom-spacer {
  height: 253px;
}

.next-footer {
  color: #000000;
}
.next-footer:hover {
  color: #2a1a87;
  text-decoration: none;
}

ul > li {
  position: relative;
  left: -1em;
  margin-bottom: 32px;
}

.buccha-next,
.user-testing-img,
.future-steps-img,
.scenario-img,
.mockup-img {
  width: 100%;
}

@media (max-width: 599px) {
  .flushing-empty-space {
    height: 0;
  }
  .main-title-container {
    height: auto;
  }
  .category-top {
    height: 32px;
  }
  .subheading-box {
    margin-bottom: 21px;
  }
  .problem-box {
    height: 104px;
    line-height: 104px;
  }
  .problem-description {
    height: 100%;
    width: 100%;
  }
  .subheading-box-no-top {
    margin: 32px 0 21px 0;
  }
  .memory-description, 
  .place-description {
    width: 100%;
  }
  .tasks-findings-right {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .quote {
    width: 75%;
    margin: 32px auto;
  }
  .future-step-long-description {
    padding: 0;
    width: 100%;
  }
  #subheading-box-mobile {
    margin-top: 0;
  }
}
