.four-noble-truths-empty {
  height: 30px;
}

.main-title-empty-space {
  height: 332px;
  width: 100%;
}

.between-spacer {
  height: 89px;
}

.summary {
  margin-bottom: 30px;
}

.icon {
  height: 32px;
  width: 32px;
}