.main-container-top-spacer {
	height: 332px;
}

.main-container-bottom-spacer {
	height: 127px;
}


.subheading-box {
	margin-top: 48px;
	margin-bottom: 32px;
}

.heading-2-box {
	margin-top: 88px;
	margin-bottom: 22px;
}

.hatchet-imgs div:first-child {
	padding-right: 15px;
}
.hatchet-imgs div:nth-child(2) {
	padding-left: 15px;
}

.description-box {
	margin: 23px;
	text-align: center;
	font-style: italic;
}

.next-project-top {
	height: 253px;
}


.next-footer {
	margin-bottom: 88px;
}
.next-footer a {
	color: #000000;
}
.next-footer a:hover {
	color: #2a1a87;
	text-decoration: none;
}