.main-title-empty-space {
  height: 332px;
  width: 100%;
}

.main-title-container {
  margin-bottom: 160px;
}

.rightside-nav span:first-child a {
  opacity: 1;
  font-weight: 500;
  border-bottom: solid 2px #2a1a87;
}
