body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.inside-element {
  padding: 0;
}

footer {
  height: 394px;
  width: 100%;
}

.footer-content {
  border-top: 2px solid #d8d8d8;
  height: 142px;
  opacity: 0.8;
}

.footer-whitespace {
  height: 252px;
}

footer a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
  opacity: 0.9;
  text-align: left;
}

.email, .linkedin {
  margin-top: 90px;
}

.email {
  float: left;
}

.linkedin {
  float: right;
}

.navigation-container {
  height: 138px;
  width: 100%;
}

.leftside-nav {
  align-items: center;
  float: left;
  display: flex;
  height: 100%;
  width: 50%;
}

.rightside-nav {
  align-items: center;
  float: right;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.logo {
  height: 70px;
  width: 70px;
}

.site-title-wrapper {
  margin-left: 9.5px;
}

.main-title-container {
  height: 574px;
  width: 100%;
}

.nav-link {
  text-decoration: none;
}