.overlay {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  background-color: #2a1a87;
  opacity: 0.9;
  overflow: hidden;
  transition: .5s ease;
  height: 0;
  width: 100%;
}

.img-overlay:hover .overlay {
  height: 205px;
}

.overlay > div {
  margin: 0 auto;
  width: 76%;
}

.overlay .heading-card {
  margin-top: 58px;
  margin-bottom: 13px;
  font-weight: bold;
}

@media (max-width: 599px) {
  .overlay {
    bottom: 32px;
    height: 120px;
  }
  .overlay > div {
    width: 100%;
    padding: 0 12px;
  }
  .overlay .heading-card {
    margin-top: 18px;
    margin-bottom: 0;
  }
  .img-overlay:hover .overlay {
    height: 120px;
  }
}