.awk-imgs div:first-child {
	padding-right: 15px;
}
.awk-imgs div:nth-child(2) {
	padding-left: 15px;
}

@media (max-width: 599px) {
	.awk-imgs div:first-child {
		padding-right: 0;
	}
	.awk-imgs div:nth-child(2) {
		padding-left: 0;
	}
}