.visual-img-container { /*holding all 4 images*/

}

.visual-img { /*image*/
	width: 100%;
	heigh: 100%;
}

.left-column .img-container { 
	/*width: 50%;*/
	margin-right: 15px;
}
.left-column div:first-child {
	margin-bottom: 40px;
}

.right-column .img-container { 
	margin-left: 15px;
}
.right-column div:first-child {
	margin-bottom: 40px;
}
.popup {
	position: absolute;
	color: white;
}

/*.left-column {
	margin-right: 15px;
}

.right-column {
	margin-left: 15px;
}*/