.rightside-nav span:nth-child(2) a {
	border-bottom: solid 2px #2a1a87;
}

.visual-heading {
	margin-top: 333px;
}

.visual-img { 
	width: 100%;
	height: 100%;
}

.img-container {
	position: relative;
}

.popup { 
	position: absolute;
	bottom: 0;
	color: white;
	padding-left: 70px;
	padding-top: 58px;
	padding-right: 25px;
	padding-bottom: 70px;
	background-color: #2a1a87;
	opacity: 0.9;
}

.popup div:first-child {
	color: #ffffff;
}
.popup div:nth-child(2) {
	color: #ffffff;
}

.img-container span {
	display: none;
}

.visual-title-container {
	margin-bottom: 135px;
}

@media (max-width: 599px) {
	.visual-heading {
		margin-top: auto;
	}
	.visual-title-container {
		margin-bottom: 64px;
	}
}