.rickson-yoji div:first-child {
	padding-right: 15px;
}
.rickson-yoji div:nth-child(2) {
	padding-left: 15px;
}

.youtube-box {
	text-align: center;
}

@media (max-width: 599px) {
	.rickson-yoji div:first-child {
		padding-right: 0;
	}
	.rickson-yoji div:nth-child(2) {
		padding-left: 0;
	}
}
